/* ==========================================================================
   Dropdown menu
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");

/* RESETS
   ============================================ */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 100px 50px;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: #e7e4e4;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  z-index: -10;
}

.container {
  width: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 10px;
}

@mixin styling() {
  background-color: white;
  border-color: #ccc;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.progress {
  background-color: #f6f8f7;
  border-radius: 20px;
  position: relative;
  margin: 30px 0;
  height: 25px;
  width: 98%;
}

.progress-done {
  background: rgb(68, 196, 174);
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  height: 100%;
  width: 0;
  opacity: 0;
}

h1 {
  font-size: 20px;
}

.title-and-progressBar {
  margin: 30px 0 10px 20px;
}

/* DROPDOWN
   ============================================ */

.dd-wrapper {
  @include styling();
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;

  .dd-header {
    width: 100%;
    padding: 0 20px 10px;
    border-bottom: 1px solid rgb(196, 195, 195);

    &__title {
      margin-top: 25px;
    }
    &__title-item {
      list-style-type: none;
      font-size: 18px;
    }
    &__title-item--font {
      padding-right: 15px;
    }
    &__action {
      cursor: pointer;
      float: right;
      margin-top: -15px;
      color: rgb(158, 158, 158);
      font-size: 15px;
      list-style-type: none;
    }
    .complete {
      color: rgb(68, 196, 174);
    }
  }
  .dd-header:last-child {
    border-bottom: none;
  }
  p {
    display: inline;
    padding-top: 10px;
  }
  .dd-hide {
    display: flex;
    flex-wrap: wrap;
  }
  .dd-list {
    padding: 0;
    margin: 0;
    width: 100%;

    .dd-list-item {
      list-style-type: none;
      padding-bottom: 20px;
      padding-left: 10px;
      margin-top: 13px;
      display: flex;

      &__name {
        margin-left: 40px;
        position: relative;
      }

      .dd-list-item:last-child {
        visibility: hidden;
      }
    }
    .dd-list-item:first-child {
      padding-top: 30px;
    }
    .dd-list-item:last-child {
      padding-bottom: 30px;
    }

    .checkbox {
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 5px;
      border: 1px solid rgb(128, 127, 127);
      cursor: pointer;
      position: absolute;
      margin-bottom: 10px;
      margin-top: -1px;
    }
    .checkbox:checked {
      background: rgb(68, 196, 174);
      border: none;
    }
    .checkbox::before {
      content: "";
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: url(checkMark.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .checkbox::before {
      display: none;
    }
    .checkbox:checked::before {
      display: block;
    }
  }
}
